<launch>
	<include file="$(find rover_gazebo)/launch/rover_simulation.launch" />
	<include file="$(find teleop_rover)/launch/imu_sensor.launch" />
	<include file="$(find rover_localization)/launch/map.launch" />
	<include file="$(find rover_localization)/launch/amcl.launch" />
	<!--include file="$(find rover_localization)/launch/scanmatcher.launch" /-->
	<!--include file="$(find rover_navigation)/launch/move_base.launch" /-->
	<!--include file="$(find rover_hardware)/launch/rover_tf.launch" /-->
</launch>
